// colors

.bg-gradient-theme {
    background: linear-gradient(to bottom, $danger, $warning);
}
.bg-gradient-theme-top {
    background: linear-gradient(to top, $danger, $warning);
}
.bg-gradient-theme-left {
    background: linear-gradient(to left, $danger, $warning);
}
.bg-gradient-theme-right {
    background: linear-gradient(to right, $danger, $warning);
}
